.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.chat-header {
  /*text-align: center;*/
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chat-window {
  width: 100%;
  overflow-y: auto;
  display: flex;
  /*flex-direction: column;*/
  flex-direction: column-reverse;
}

.message-container {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  max-width: 70%;
  word-break: break-word;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  white-space: pre-wrap;
}

.message-from-user {
  align-self: flex-end;
  background-color: #4FC3F7;
  color: #666;
  margin-left: auto;
  font-size: 14px;
  padding: 5px 8px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.message-from-system {
  align-self: flex-end;
  background-color: #00CED1;
  color: #666;
  margin-right: auto;
  font-size: 14px;
  padding: 5px 8px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.message-timestamp {
  font-size: 10px;
  /*margin-top: 5px;*/
  color: #fff;
}

.chat-input {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.chat-input textarea {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  outline: none;
  resize: vertical;
}

.chat-input button {
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 20px 10px 10px;
}
